body
{
    margin: 0px;
}

header
{
    background: lightseagreen;
    width: 70%;
    height: 100px;
    margin: auto;
    max-width: 960px;
    position: relative;
}

header img
{
  height: 100%;
  float: left;
}

header h1
{
  margin: 0px;
  padding-top: 30px;
}

.content
{
    background-color: lightseagreen;
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

#footer
{
    background-color: lightseagreen;
    padding: 20px;
    margin-bottom: 0px;
}

.odd
{
    background-color: aqua;
}

.even
{
    background-color: palegreen;
}

a
{
    text-decoration: none;
}